*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --clr-light: #fff;
    --clr-dark: #111;
    --clr-accent: rgb(77, 255, 255);

    --bs: .25em .25em .75em rgba(0,0,0,.25),
          .125em .125em .25em rgba(0,0,0,.15);
}

body {
    margin: 0;
    padding: 0;
    font-size: 1.3125rem;
    line-height: 1.5;
    background-color: var(--clr-light);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: var(--clr-dark);
}

.header {
    display: flex;
    align-items: center;
    padding: 0 3em;
    height: 80px;
    margin-bottom: 1.5em;
    /* background: red; */
}

.logo {
    font-size: 1.7rem;
}

@media (max-width: 600px) {
    .header {
        padding: 0 1em;
        height: 60px;
    }
    .logo {
        font-size: 1rem;
    }
}

.logo span {
    background-color: var(--clr-accent);
    color: var(--clr-dark);
    border-radius: 10px;
    padding: .25em;
}

.section__title{
    text-align: center;
}

h1,
h2,
h3 {
    margin: 0;
    list-style: 1;
}

.container {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .7em;
}

.err {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 1rem;
    color: rgb(251, 73, 73);
}

.desciption {
    margin-bottom: 1em;
    max-width: 27em;
}

.desciption p{
    margin: 0;
    font-size: .85rem;
    text-align: center;
}

.btn-group {
    display: flex;
    justify-content: center;
    margin-block: 1em;
    gap: .5em;
}

button {
    font-weight: 600;
    padding: 10px;
    border: none;
    border-radius: 5px;
    line-height: 1;
    font-size: .85rem;
    background-color: var(--clr-accent);
    cursor: pointer;
}

.btn-group button:hover,
.btn-group button:focus {
  box-shadow: var(--bs);
  transform: translateY(-0.25em);
}

#subject_button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: 1px solid;
    border-left: none;
}

.grades {
    margin-top: .5em;
}

input {
    border: 1px solid var(--clr-dark);
}

.grades input {
    padding: 5px;
    border-radius: 3px;
    width: 30%;
}

.subject_no {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    outline: none;
    padding: 5px;
}

.row-subject {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

.grades div {
    display: flex;
    gap: .5em;
    margin-bottom: .3em;
}

#gwa,
#totalUnits {
    font-weight: 600;
}

.box{
    background: var(--clr-light);
    padding: 1em;
    min-height: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: var(--bs);
}

.output {
    display: none;
}
.output__p{
    margin: 0;
}

.printButton {
    margin: 0;
}

/* Table for Printing */

.to-be-print {
    visibility: hidden;
}

.to-be-print h1 {
    text-align: center;
    margin-bottom: 1.5em;
}

.to-be-print div {
    display: flex;
    justify-content: center;
    align-content: center;
}


table {
    table-layout: fixed;
    width: 70%;
    border-collapse: collapse;
    border: 2px solid;
}

th {
    letter-spacing: 2px;
}

td {
    letter-spacing: 1px;
}

tbody td {
    text-align: center;
}

tfoot th {
    text-align: right;
}

/* Printing */
@media print {
    .calculator,
    .header{
        display: none;
    }

    .to-be-print {
        visibility: visible;
    }
    body{
        font-size: 12pt;
    }
}

@page {
    size: portrait;
    margin: 12.7mm;
}